node_modules/
public/
dist/
.firebase/
*.apk
*.aab
android.keystore
*.idsig
manifest-checksum.txt
build.gradle
gradle.properties
gradlew
gradlew.bat
store_icon.png
settings.gradle
gradle/
app/
build/
.gradle/