/*********************************************************************
Scoped WiTeX styles for Toast UI Viewer inside #preview-pane
*********************************************************************/


/* Fonts */

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: normal;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: normal;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: italic;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-italic.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: italic;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Mono';
	font-weight: normal;
	font-style: normal;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmmono10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Mono';
	font-weight: normal;
	font-style: italic;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmmono10-italic.woff') format('woff');
}

#preview-pane .toastui-editor-contents {
	font-family: 'Latin Modern Roman', serif;
}

@media print {
	body {
		background-color: white !important;
	}

	p,
	tbody tr td,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: black !important;
		border-color: black !important
	}

	.hide-on-print {
		display: none !important;
	}
}