.hidden {
    display: none !important;
}

.file-icon svg {
    width: 24px !important;
    height: 24px !important;
    vertical-align: middle;
}

.outcome.selected {
    background-color: var(--primary);
    color: var(--on-primary);
    outline: .125rem solid var(--primary);
    outline-offset: 0.25rem;
}

.light .blue {
    background-color: #0061a4 !important;
    color: #ffffff !important;
}

.dark .blue {
    background-color: #9ecaff !important;
    color: #003258 !important;
}

.light .green {
    background-color: #006e1c !important;
    color: #ffffff !important;
}

.dark .green {
    background-color: #78dc77 !important;
    color: #00390a !important;
}

.light .yellow {
    background-color: #695f00 !important;
    color: #ffffff !important;
}

.dark .yellow {
    background-color: #dbc90a !important;
    color: #363100 !important;
}