.hidden {
    display: none !important;
}

.toastui-editor-defaultUI-toolbar {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.file-icon svg {
    width: 24px !important;
    height: 24px !important;
    vertical-align: middle;
}

.resource-list-container.loading::after {
    content: "Loading resources…";
    display: block;
    color: var(--outline-variant);
    font-style: italic;
}

@keyframes flash-border {
    0% {
        border-color: transparent;
        background-color: var(--surface-container-low);
    }

    25% {
        border-color: var(--primary);
        background-color: var(--surface-variant);
    }

    50% {
        border-color: transparent;
        background-color: var(--surface-container-low);
    }

    75% {
        border-color: var(--primary);
        background-color: var(--surface-variant);
    }

    100% {
        border-color: var(--outline-variant);
        background-color: var(--surface-container-low);
    }
}

.flash-border {
    animation: flash-border 1s ease-in-out;
}

.selected {
    outline: .125rem solid var(--primary);
    outline-offset: 0.25rem;
}

.light .mathematics {
    background-color: #0061a4 !important;
    color: #ffffff !important;
}

.dark .mathematics {
    background-color: #9ecaff !important;
    color: #003258 !important;
}

.light .science {
    background-color: #006e1c !important;
    color: #ffffff !important;
}

.dark .science {
    background-color: #78dc77 !important;
    color: #00390a !important;
}

.light .biology {
    background-color: #3e6a00 !important;
    color: #ffffff !important;
}

.dark .biology {
    background-color: #9ed75b !important;
    color: #1e3700 !important;
}

.light .social-studies {
    background-color: #695f00 !important;
    color: #ffffff !important;
}

.dark .social-studies {
    background-color: #dbc90a !important;
    color: #363100 !important;
}