.toastui-editor-ww-container,
.toastui-editor-md-preview,
.toastui-editor-md-container,
.toastui-editor-md-vertical-style {
    background-color: var(--container) !important;
    border-radius: 0 !important;
}

.toastui-editor-ww-code-block pre,
.lang-math,
.toastui-editor-md-code-block-line-background {
    background-color: var(--surface-container) !important;
    color: var(--on-surface) !important;
    border-radius: 0 !important;
}

.toastui-editor-contents .toastui-editor-ww-code-block:after {
    background-color: color-mix(in srgb,
            var(--surface-container-high) 60%,
            transparent) !important;
    color: var(--on-surface) !important;
}

.toastui-editor-defaultUI-toolbar {
    border-color: var(--outline) !important;
}

.toastui-editor-defaultUI-toolbar button {
    border-color: var(--outline) !important;
}

.toastui-editor-md-preview-highlight::after,
.md-preview-highlight::after {
    background-color: var(--surface-variant) !important;
    outline: .125rem solid var(--primary);
    outline-offset: 0.25rem;
    box-shadow: 0 0 0 0.225rem color-mix(in srgb, var(--surface-variant) 40%, transparent);
}

.toastui-editor-popup {
    background-color: var(--surface-container) !important;
    border-color: var(--outline-variant) !important;
    border-radius: 1.5rem !important;
    box-shadow: var(--elevate1) !important;
}

.toastui-editor-popup div.tab-item,
.toastui-editor-popup label,
.toastui-editor-popup input,
.toastui-editor-table-description {
    color: var(--on-surface) !important;
}

.toastui-editor-popup input {
    background-color: var(--surface-container-high) !important;
    border-radius: 0.125rem !important;
    border: 1px solid var(--outline) !important;
}

.toastui-editor-popup .toastui-editor-file-name {
    background-color: var(--surface-container-high) !important;
    color: var(--on-surface-container) !important;
}

.toastui-editor-popup .toastui-editor-table-selection .toastui-editor-table-cell {
    background-color: var(--surface-container) !important;
    border-color: var(--outline) !important;
}

.tab-item.active {
    border-color: var(--primary) !important;
}

.toastui-editor-table-selection-layer {
    background-color: color-mix(in srgb,
            var(--primary) 30%,
            transparent) !important;
    border-color: var(--primary) !important;
}

.toastui-editor-close-button,
.toastui-editor-file-select-button {
    background-color: transparent !important;
    color: var(--on-surface-container) !important;
    border: 1px solid var(--outline) !important;
    border-radius: 1.5em !important;
    margin: 0.375rem !important;
}

.toastui-editor-ok-button {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
    border: none !important;
    border-radius: 1.5em !important;
    margin: 0.375rem !important;
}

.toastui-editor-popup-body {
    border-radius: 0 !important;
}

.toastui-editor-defaultUI-toolbar button:not(:disabled):hover {
    background-color: var(--surface-container-high) !important;
}

.toastui-editor-dropdown-toolbar {
    background-color: var(--surface-container-highest) !important;
    border-color: var(--outline) !important;
}


.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6,
.toastui-editor-contents li,
.toastui-editor-ww-container .toastui-editor-contents td p,
.toastui-editor-ww-container .toastui-editor-contents p,
.scroll>table,
table :is(thead,
    tbody,
    tfoot,
    tr,
    td),
.toastui-editor-contents p,
.ProseMirror {
    color: var(--on-background) !important;
}

.toastui-editor-contents table th {
    background-color: var(--surface-variant) !important;
    color: var(--on-surface) !important;
}

.scroll>table,
table :is(thead, tbody, tfoot, tr, th, td) {
    border-color: var(--outline) !important
}

.toastui-editor-defaultUI-toolbar {
    background-color: var(--surface-container-highest) !important;
    border-top-right-radius: 1.5em !important;
    border-top-left-radius: 1.5em !important;
}

.toastui-editor-defaultUI {
    border-color: var(--outline) !important;
    border-radius: 1.5em !important;
}

.toastui-editor-mode-switch {
    border-top: none !important;
    background-color: var(--fill) !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    height: 32px !important;
}

.toastui-editor-mode-switch .tab-item {
    background-color: var(--fill) !important;
    color: var(--on-primary) !important;
}

.toastui-editor-mode-switch .tab-item {
    background-color: transparent !important;
    border: 1px solid var(--outline) !important;
    color: var(--on-surface-container) !important;
    border-radius: 1.5em !important;
    margin: .125rem !important;
}

.toastui-editor-mode-switch .tab-item:hover {
    background: var(--active) !important;
}

.toastui-editor-mode-switch .tab-item.active {
    background-color: var(--secondary-container) !important;
    color: var(--on-secondary-container) !important;
}